<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>VoyMate</title>
    <link rel="Shortcut Icon" type="x-icon" href="train.ico">
    <!-- <link rel="stylesheet" href="style_home.css" /> -->
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');

        * {
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            text-decoration: none;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            background: #f6f5f7;
        }

        .container {
            display: flex;
            position: fixed;
        }

        nav {
            position: relative;
            top: 0;
            bottom: 0;
            height: 100vh;
            left: 0;
            background: #ffffff;
            width: 250px;
            overflow: hidden;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        }

        .logo {
            text-align: center;
            display: flex;
            margin: 10px 0 0 10px;
        }

        .logo span {
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 13px;
        }

        .container a {
            border-bottom: 1px solid blueviolet;

            position: relative;
            color: blueviolet;
            font-size: 14px;
            display: table;
            width: 288px;
            padding: 10px;
            animation: animate 0.35s;
        }

        @keyframes animate {
            from {
                transform: rotateX(90deg);
            }

            to {
                transform: rotateX(0deg);
            }
        }

        ab {
            position: relative;
            color: #333;
            background-color: white;
            font-size: 14px;
            display: table;
            width: 288px;
            padding: 10px;
            cursor: context-menu;
            ;
        }

        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
        }

        nav .fas {
            position: relative;
            width: 70px;
            height: 40px;
            top: 10px;
            font-size: 20px;
            text-align: center;
        }

        .nav-item {
            position: relative;
            top: 8px;
            margin-left: 10px;
        }

        .container a:hover {
            background: blueviolet;
            color: white;
            transition: 0.35s ease;
        }

        .logout {
            position: absolute;
            bottom: 0;
        }

        .card {
            position: relative;
            display: inline-block;
            text-align: center;
            background-color: white;
            color: blueviolet;
            padding: 10px;
            width: 28%;
            height: fit-content;
            margin-left: 45px;
            margin-top: 30px;
            margin-bottom: 15px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: 10px;
        }

        .card:hover {
            background-color: whitesmoke;
        }

        .outer {
            background-color: #f6f5f7;
            position: relative;
            left: 250px;
            width: 1260px;
            height: 745px;
        }

        table th tr td {
            border: 1px solid black;
        }

        .profile {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            width: 250px;
            display: grid;
            grid-template-columns: auto 30px;
            align-items: center;
            background-color: whitesmoke;
            position: absolute;
            top: 0;
            padding: 6px;
            margin: 10px;
            border-radius: 5px;
        }

        .profile p {
            margin: 0;
        }

        .profile img {
            justify-self: end;
            margin-top: -20px;
            margin-left: 4px;
        }

        .recommendations {
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            width: 30%;
            height: 10%;
        }

        .card1 {
            position: relative;
            display: inline-block;
            background-color: white;
            padding: 10px;
            width: 45%;
            height: fit-content;
            margin-left: 45px;
            margin-top: 15px;
            margin-bottom: 15px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li style="width: 100%;margin-top: -10px;margin-left: -10px;">
                    <ab href="/index" class="logo">
                        <!-- <img src="train.ico" alt="" > -->
                        <span class="nav-item"
                            style="color: blueviolet;font-size: 35px;padding-left: 20px;margin-top:-5px ;padding-bottom: 5px;text-transform: none;">VoyMate</span>
                    </ab>
                </li>
                <li><a href="/dashboard"
                        style="border-top: 1px solid black; background-color: blueviolet; color: white;">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a></li>
                <li><a href="/profile">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Profile</span>
                    </a></li>
                <li><a href="/status2">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="nav-item">Live Running Status</span>
                    </a></li>
                <li><a href="/book">
                        <i class="fas fa-ticket"></i>
                        <span class="nav-item">Book Ticket</span>
                    </a></li>
                <li><a href="/pnr">
                        <i class="fas fa-train"></i>
                        <span class="nav-item">Check PNR status</span>
                    </a></li>
                <li><a href="/history">
                        <i class="fas fa-clock"></i>
                        <span class="nav-item">Travel History</span>
                    </a></li>
                <li><a href="/help">
                        <i class="fas fa-question-circle"></i>
                        <span class="nav-item">Help</span>
                    </a></li>
                <li><a href="/logout" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Logout</span>
                    </a></li>
            </ul>
        </nav>
    </div>
    <div class="outer">
        <h1 style="text-align: center;margin-bottom: 20px;">Logged In Successfully</h1>
        <div class="card">
            <a href="/book">
                <i class="fas fa-circle"></i>

                <h2>Book Tickets for you and your dear ones</h2> <img src="booking.png" width="250px" alt="">
            </a>
        </div>
        <div class="profile">
            <p>
                <%=name%>
            </p><br>
            <p>
                <%=mailid%>
            </p>
            <img src="user.jpg" width="40px" alt="">
        </div>
        <div class="card" style="height: 374px;top:-112px;">
            <a href="/status2">
                <i class="fas fa-circle"></i>

                <h2>Check Live Train Status</h2> <img src="map1.png" width="250px" alt=""
                    style="position: relative;top:80px">
            </a>
        </div>

        <div class="card" style="height: 374px;top:-120px;">
            <a href="/pnr">
                <i class="fas fa-circle"></i>

                <h2>Check Live PNR Status</h2> <img src="seats.png" width="250px" alt=""
                    style="position: relative;top: 80px;">
            </a>
        </div>
        <h2 style="text-align: center;margin-top: -100px;">**Recommended Journeys for you**<span style="position: absolute;right: 0px;font-size: 15px;font-weight: lighter;">Note: (D+1) denotes next day</span></h2>

        <%data.forEach(function(i){%>
            <%if(i.trno!=''){%>
                <div class="card1">
                    <h1
                        style="background-color: blueviolet;width: fit-content;color: white;border-radius: 4px;padding: 2px 8px;">
                        <%=i.trno%>
                    </h1>
                    <h3>
                        <%= i.trname%>
                    </h3>
                    <div style="position: absolute;right: 20px;top: 50px;"><span
                            style="background-color: yellow;text-align: center;font-weight: bolder;padding: 2px;">SC</span><i
                            class="fa-solid fa-arrow-right-long"></i>
                        <span style="background-color: yellow;text-align: center;font-weight: bolder;">
                            <%=i.Code%>
                        </span>
                    </div>
                    <span style="font-weight: bold;position: absolute;right: 5px;padding: 4px;top: 10px;">Location:
                        <%=i.Name%>
                    </span>
                    <span>Departure: <%=i.Dept%></span><span style="position: absolute;right: 20px;top: 80px;">Arrival:
                        <%=i.Arr%>
                    </span>


                </div>
                <%}%>
                    <%})%>
    </div>
</body>

</html>