<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<!-- <title>Bethany Bootstrap Template - Index</title> -->
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link rel="shortcut icon" href="train.ico" type="image/x-icon">
	<title>IRCTC.</title>

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="assets/css/style.css" rel="stylesheet">

	<!-- =======================================================
	* Template Name: Bethany
	* Updated: Mar 10 2023 with Bootstrap v5.2.3
	* Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
	<style>
		body {
			background: #f6f5f7;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			display: flex;
			/* 
	font-family: 'Montserrat', sans-serif; */
			/* height: 100vh; */
		}

		li {
			margin-right: 40px;
		}

		#content {
			width: 140px;
			margin-top: 100px;
		}

		#ftr {
			margin-top: 100px;
			position: absolute;
			height: 300px;
			width: 100%;
			padding-bottom: -100px;
			left: 0px;
		}

		#cform {
			margin-top: 50px;
			background-color: white;
			width: 400px;
			height: 200px;
			align-items: center;
			text-align: center;
		}
		#cform input{
			width:80%;
		}
		#outer{
			background-color: white;
			width: fit-content;
			height: fit-content;
			position: relative;
			align-items: center;
			text-align: center;
			margin-top: 50px;
		}
		#inner{
			position: relative;
			left: 55px;
			width: 90%;
			height: fit-content;
		}
		td{
			border: 2px solid black;
			text-align: center;
			padding: 2px 4px;
		}
	</style>
</head>

<body>
	<div class="header-container d-flex align-items-center justify-content-between"
		style="margin-top: 00px;background-color: white;width: 1200px;height: 60px;">

		<nav id="navbar" class="navbar">
			<ul>
				<li style="background-color: blueviolet;height: 60px;width:140px;color: white;text-align: center;"><a
						href="/">
						<h4 style="color: white;font-weight: bold;margin-top: 7px;">IRCTC</h4>
					</a></li>
				<li><a class="nav-link scrollto active" href="/" style="position: relative; top:2px;">Home</a></li>
				<li><a class="nav-link scrollto" href="/about" style="position: relative; top:2px;">About</a></li>
				<li><a class="nav-link scrollto" href="/services" style="position: relative; top:2px;">Services</a></li>
				<li><a class="nav-link scrollto " href="/status" style="position: relative; top:2px;">Check Status</a>
				</li>
				<li><a class="nav-link scrollto" href="#team" style="position: relative; top:2px;">IRCTC</a></li>
				<li><a class="nav-link scrollto" style="position: relative; top:2px;" href="/contact">Contact</a></li>
				<!-- <li class="dropdown" style="position: relative; top:2px;"><a href="#"><span>Legal</span> <i class="bi bi-chevron-down"></i></a>
				<ul> 
                 <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li> -->
				<li><a class="getstarted scrollto" style="position: relative; top:2px;background-color: blueviolet;"
						href="/login">Get Started</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
	</div>

	
		<form action="/status" method="post" id="cform">

			<div style="background-color: blueviolet;color: white;height: 40px;padding-top: 10px;">
				<p>CHECK TRAIN RUNNING STATUS</p>
			</div>
			<br> <input type="text" name="trno" placeholder="Enter train number">
			<br>
			<br>
			<select name="date" style="border: 1px solid black;">
				<option value="0">Started Today</option>
				<option value="1">Started Yesterday</option>
			</select>			<br>
			<button type="submit" style="margin-top: 20px;background-color: blueviolet;color: white;border: none;padding:5px 10px;">Submit</button>
		</form>
		<div>
<% if(i===0){%>
	<div id="outer">
		<h4 style="background-color: blueviolet;color: white;font-size: large;">TRAIN LIVE RUNNING STATUS</h4>
		<table style="margin-top: -10px;">
			<tr>
				<td>Train Number</td>
				<td><%=data.train_number%></td>
			</tr>
			<tr>
				<td>Train Name</td>
				<td><%=data.train_name%></td>
			</tr>
			<tr>
				<td>Source</td>
				<td><%=data.source%></td>
			</tr>
			<tr>
				<td>Destination</td>
				<td><%=data.destination%></td>
			</tr>
			<tr style="background-color: yellow;">
				<td>Current Station Name</td>
				<td><%=data.current_station_name.slice(0,-1)%></td>
			</tr>
			<tr>
				<td>Expected Time of Arrival</td>
				<td><%=data.eta%></td>
			</tr>
			<tr>
				<td>Expected Time of Departure</td>
				<td><%=data.etd%></td>
			</tr>
			<tr >
				<td>Upcoming Station Name</td>
				<td><%=next%>(<%=nextcode%>)</td>
			</tr>
			<tr >
				<td>Next Station Arrival</td>
				<td><%=nexteta%></td>
			</tr>
			
			<%if(data.delay){%>
			<tr style="background-color: red;color: white;">
				<td>Alert Message</td>
				<td>Late By <%=Math.floor(data.delay/60)%>hrs <%=(data.delay)%60%>mins</td>
			</tr>
			<%}%>
		</table>
		
	</div><%}%>
<% if(i===2){%>
	<p style="text-align: center; color:'red';" ><i class="fas fa triangle-eclamation"></i> Invalid Train Number or Date</p><%}%>
			<div id="ftr"><%-include('footer')-%></div>
</body>