<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>VoyageMate</title>
  <link rel="Shortcut Icon" type="x-icon" href="train.ico">
  <!-- <link rel="stylesheet" href="style_home.css" /> -->
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body{
	background: #f6f5f7;
}
.container{
	display: flex;
}

nav{
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	left: 0;
	background: #ffffff;
	width: 250px;
	overflow: hidden;
	box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo{
	text-align: center;
	display: flex;
	margin: 10px 0 0 10px;
}
.logo span{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 13px;
}
.container a{
    border-bottom: 1px solid blueviolet;

	position: relative;
	color: blueviolet;
	font-size: 14px;
	display: table;
	width: 288px;
	padding: 10px;
	animation: animate 0.35s;
}
@keyframes animate{
	from{
		transform: rotateX(90deg);
	}
	to{
		transform: rotateX(0deg);
	}
}
ab{
	position: relative;
	color: #333;
	background-color: white;
	font-size: 14px;
	display: table;
	width: 288px;
	padding: 10px;
	cursor: context-menu;
	text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
nav .fas{
	position: relative;
	width: 70px;
	height: 40px;
	top: 10px;
	font-size: 20px;
	text-align: center;
}
.nav-item{
	position: relative;
	top: 8px;
	margin-left: 10px;
}
.container a:hover{
	background: blueviolet;
	color: white;
	transition: 0.35s ease;
}
.logout{
	position: absolute;
	bottom: 0;
}
.container2 {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 
	16px 0px;
	background-color:white;
	border-radius: 5px;
	position: absolute;
	width: 400px;
	height: 220px;
	left: 700px;
	top: 100px;
	align-items: center;
	text-align: center;
}
.container2 input{
	background-color: #f6f5f7;
	height: 30px;
	font-size: medium;
	border: 0.1px solid black;
	text-align: center;
}
h3{
	position: absolute;
	top: 100px;
	left: 800px;
}
#outer{
			background-color: white;
			width: 40%;
			height: fit-content;
			position: relative;
			top: -400px;
			left: 600px;
			align-items: center;
			text-align: center;
			margin-top: 50px;
		}

table td{
	border: 2px solid black;
	width:400px;
}
</style>
</head>
<body>
	<div class="container">
		<nav>
			<ul>
				<li style="width: 100%;margin-top: -10px;margin-left: -10px;"><ab href="/index" class="logo">
					<!-- <img src="train.ico" alt="" > -->
					<span class="nav-item"
                            style="color: blueviolet;font-size: 35px;padding-left: 20px;margin-top:-5px ;padding-bottom: 5px;text-transform: none;">VoyageMate</span>
				</ab></li>
				<li><a href="/dashboard" style="border-top: 1px solid black;">
					<i class="fas fa-home"></i>
					<span class="nav-item">Home</span>
				</a></li>
				<li><a href="/profile" >
					<i class="fas fa-user"></i>
					<span class="nav-item">Profile</span>
				</a></li>
				<li><a href="/status2" style="background-color: blueviolet; color: white;">
					<i class="fas fa-map-marker-alt" ></i>
					<span class="nav-item">Live Running Status</span>
				</a></li>
				<li><a href="/book">
					<i class="fas fa-ticket"></i>
					<span class="nav-item">Book Ticket</span>
				</a></li>
				<li><a href="/pnr">
					<i class="fas fa-train"></i>
					<span class="nav-item">Check PNR status</span>
				</a></li>
				<li><a href="/history">
					<i class="fas fa-clock"></i>
					<span class="nav-item">Travel History</span>
				</a></li>
				<li><a href="/help">
					<i class="fas fa-question-circle"></i>
					<span class="nav-item">Help</span>
				</a></li>
				<li><a href="/logout" class="logout" style="position:absolute;bottom:0px">
					<i class="fas fa-sign-out-alt"></i>
					<span class="nav-item">Logout</span>
				</a></li>
			</ul>
		</nav>	
	</div>
	<div class="container2" >
				<form action="/status2" method="post" id="cform">
	
				<div style="background-color: blueviolet;color: white;height: 40px;padding-top: 10px;">
					<p style="text-align: center;">CHECK TRAIN RUNNING STATUS</p>
				</div>
				<br> <input type="text" name="trno" placeholder="Enter train number">
				<br>
				<br>
				<select name="date" style="border: 1px solid black;">
					<option value="0">Started Today</option>
					<option value="1">Started Yesterday</option>
				</select>
				<br>
				<button type="submit" style="margin-top: 20px;background-color: blueviolet;color: white;border: none;padding:5px 10px;">Submit</button>
			</form>
		</div>
		<% if(i===0){%>
			<div id="outer">
				<h4 style="background-color: blueviolet;color: white;">TRAIN LIVE RUNNING STATUS</h4>
				<table>
					<tr>
						<td>Train Number</td>
						<td><%=data.train_number%></td>
					</tr>
					<tr>
						<td>Train Name</td>
						<td><%=data.train_name%></td>
					</tr>
					<tr>
						<td>Source</td>
						<td><%=data.source%></td>
					</tr>
					<tr>
						<td>Destination</td>
						<td><%=data.destination%></td>
					</tr>
					<tr style="background-color: yellow;">
						<td>Current Station Name</td>
						<td><%=data.current_station_name.slice(0,-1)%></td>
					</tr>
					<tr>
						<td>Expected Time of Arrival</td>
						<td><%=data.eta%></td>
					</tr>
					<tr>
						<td>Expected Time of Departure</td>
						<td><%=data.etd%></td>
					</tr>
					<tr >
						<td>Upcoming Station Name</td>
						<td><%=next%>(<%=nextcode%>)</td>
					</tr>
					<tr >
						<td>Next Station Arrival</td>
						<td><%=nexteta%></td>
					</tr>
					
					<%if(data.delay){%>
					<tr style="background-color: red;color: white;">
						<td>Alert Message</td>
						<td>Late By <%=Math.floor(data.delay/60)%>hrs <%=(data.delay)%60%>mins</td>
					</tr>
					<%}%>
				</table>
				
			</div><%}%>
			<% if(i===2){%>
				<p style="text-align: center; color:'red';" ><i class="fas fa triangle-eclamation"></i> Invalid Train Number or Date</p><%}%>

</body>

</html>
